/*!************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!../node_modules/postcss-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./style/style.scss ***!
  \************************************************************************************************************************************************************************************/
@charset "UTF-8";
@font-face {
  font-family: "RG-Standard";
  font-style: normal;
  font-weight: 400;
  src: url(../images/RG-StandardBook.f89ac997b241d5b547c4.ttf);
}
@font-face {
  font-family: "RG-Standard";
  font-style: normal;
  font-weight: 500;
  src: url(../images/RG-StandardMedium.400a97b0a21f51c2c172.ttf);
}
@font-face {
  font-family: "RG-Standard";
  font-style: normal;
  font-weight: 700;
  src: url(../images/RG-StandardBold.e216646bc5735db0254f.ttf);
}
@font-face {
  font-family: "JustBreathe";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: url(../images/JustBreathe.1cebc51593499c5d9ba2.otf);
}
@font-face {
  font-family: "JustBreathe";
  font-style: normal;
  font-weight: 700;
  /* Браузер сначала попробует найти шрифт локально */
  src: url(../images/JustBreatheBd.8d18d5f1061cd4bd7944.otf);
}
@font-face {
  font-family: "hand2";
  font-style: normal;
  src: url(../images/hand2.b2a371df5ac30bb002fd.otf);
}
@font-face {
  font-family: "hand3";
  font-style: normal;
  src: url(../images/hand3.e426455fb42437fa083b.otf);
}
@font-face {
  font-family: "hand4";
  font-style: normal;
  src: url(../images/hand4.ce9f505d83a067e46e5d.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
}

body {
  background: #F1F1F1;
}

.home__title {
  background: url(../images/bg-green.6093e4d7e7358f98ccac.png) no-repeat center center;
  min-width: 455px;
  min-height: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: "hand4", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 57.6px */
  letter-spacing: 0.72px;
}

header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 40px;
  align-items: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 16px;
}
header .header__wrapper {
  display: flex;
  align-items: center;
}
header .header__wrapper svg {
  margin-right: 50px;
}
header h1 {
  color: #333;
  text-align: center;
  font-family: "RG-Standard", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 38.4px */
  letter-spacing: 0.48px;
}
header nav {
  grid-area: nav;
  display: flex;
  column-gap: 50px;
  margin-top: 52px;
  align-items: center;
}
header nav a {
  color: #898A8D;
  text-align: center;
  font-family: "RG-Standard", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  letter-spacing: 0.3px;
}
header nav .mini-logo {
  display: none;
}
header nav .active {
  color: #2E9164;
  font-family: "RG-Standard", sans-serif;
  font-weight: 700;
  text-decoration-line: underline;
}
header nav .header__download {
  color: #FFF;
  font-family: "RG-Standard", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  letter-spacing: 0.3px;
  padding: 8px 20px;
  border-radius: 8px;
  background: #2E9164;
}
@media (max-width: 1349px) {
  header .header__wrapper {
    flex-direction: column;
    row-gap: 16px;
  }
}

.for-what {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1023px) {
  .for-what__wrapper svg {
    width: 100%;
  }
}

.process {
  display: grid;
  grid-template-columns: fit-content(40%) 1fr fit-content(40%);
  justify-content: space-between;
  padding: 51px 130px 51px 66px;
  margin-top: 48px;
}
.process__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  padding-left: 20px;
}
.process__wrapper svg:nth-child(1) {
  align-self: flex-end;
}
.process__wrapper h2 {
  margin: 7px 0 9px 0;
  color: #000;
  font-family: "RG-Standard", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}
.process__wrapper p {
  margin-top: 7px;
  color: #2E9164;
  text-align: right;
  font-family: "hand3", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: -0.264px;
}
.process__img-wrapper {
  position: relative;
  justify-self: center;
}
.process__img-wrapper__notes {
  position: absolute;
  max-width: 318px;
  max-height: 257px;
  bottom: 11px;
  left: -275px;
}
.process__swrapper p {
  margin: 180px 0 39px 0;
  color: rgba(51, 51, 51, 0.8);
  font-family: "hand4", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: -0.264px;
}
@media (max-width: 1439px) {
  .process {
    padding: 51px 20px 51px 20px;
  }
  .process__swrapper-man svg {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1023px) {
  .process {
    padding: 51px 0;
    grid-template-columns: 1fr;
  }
  .process__wrapper {
    padding: 0 13px 0 26px;
    flex-direction: row-reverse;
    column-gap: 5px;
  }
  .process__wrapper svg:nth-child(1) {
    align-self: center;
  }
  .process__wrapper-text {
    width: 100%;
  }
  .process__wrapper-text svg {
    width: 100%;
    height: 100%;
  }
  .process__wrapper-text p {
    text-align: left;
  }
}

.client {
  display: flex;
  justify-content: space-between;
  padding: 60px 45px 66px 104px;
  margin-top: 183px;
  position: relative;
  align-items: center;
}
.client__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.client__wrapper svg:nth-child(1) {
  align-self: flex-end;
}
.client__wrapper h2 {
  margin: 16px 0 14px 0;
  color: #000;
  font-family: "RG-Standard", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}
.client__wrapper p {
  margin: 7px 0 25px 0;
  color: #2E9164;
  text-align: right;
  font-family: "hand3", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: -0.264px;
}
.client__wrapper-woman {
  align-self: flex-start;
}
.client img {
  max-width: 798.196px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.client__text {
  color: rgba(51, 51, 51, 0.8);
  font-family: "hand4", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: -0.264px;
}
@media (max-width: 1439px) {
  .client {
    padding: 60px 20px 66px 20px;
  }
  .client__text {
    max-width: 250px;
  }
}

.payments {
  display: flex;
  justify-content: space-between;
  padding: 101px 47px 94px 56px;
  margin-top: 23px;
}
.payments__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 60px;
}
.payments__wrapper svg:nth-child(1),
.payments__wrapper svg:nth-child(6) {
  position: relative;
  left: 30px;
  margin-bottom: 29px;
}
.payments__wrapper h2 {
  margin: 6px 0 8px 0;
  color: #000;
  font-family: "RG-Standard", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}
.payments__wrapper p {
  margin: 11px 0 92px 0;
  color: #2E9164;
  text-align: right;
  font-family: "hand3", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: -0.264px;
}
.payments__img {
  max-width: 388.103px;
  max-height: 675px;
}
.payments__swrapper p {
  color: rgba(51, 51, 51, 0.8);
  font-family: "hand4", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: -0.264px;
  margin: 60px 0 76px 0;
}
@media (max-width: 1439px) {
  .payments {
    padding: 101px 20px 94px 20px;
    column-gap: 40px;
  }
  .payments__wrapper svg:nth-child(4) {
    width: 100%;
  }
  .payments__swrapper p {
    margin: 60px 0 10px 0;
  }
  .payments__swrapper svg {
    width: 100%;
  }
}

.team {
  display: grid;
  grid-template-columns: fit-content(40%) 1fr 429px;
  justify-content: space-between;
  padding: 94px 78px 17px 103px;
  margin-top: 23px;
}
.team__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.team__wrapper h2 {
  margin: 12px 0;
  color: #000;
  text-align: right;
  font-family: "RG-Standard", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}
.team__wrapper p {
  margin: 7px 0 122px 0;
  color: #2E9164;
  text-align: right;
  font-family: "hand3", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: -0.264px;
}
.team__wrapper-man {
  align-self: flex-start;
}
.team__img-wrapper {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  margin-right: 60px;
  position: relative;
}
.team__img-wrapper svg:nth-child(1) {
  position: absolute;
  left: -62px;
  top: 50%;
  transform: translate(0, -50px);
}
.team__img-wrapper svg:nth-child(4) {
  position: absolute;
  right: -62px;
  top: 50%;
  transform: translate(0, -50px);
}
.team__img-wrapper img {
  max-width: 368.108px;
  max-height: 677px;
}
.team__swrapper {
  display: grid;
  grid-template-areas: "text" "img";
  margin-top: 100px;
  position: relative;
  right: 50px;
}
.team__swrapper p {
  grid-area: text;
  color: rgba(51, 51, 51, 0.8);
  font-family: "hand4", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: -0.264px;
}
.team__swrapper-img {
  grid-area: img;
  justify-self: center;
}
@media (max-width: 1439px) {
  .team {
    padding: 94px 20px 17px 20px;
    grid-template-columns: fit-content(40%) 1fr 250px;
  }
  .team__wrapper-man svg {
    width: 100%;
  }
  .team__img-wrapper svg:nth-child(3) {
    width: 100%;
  }
  .team__swrapper {
    right: auto;
  }
  .team__swrapper-img svg {
    width: 100%;
  }
}

.analytics {
  display: grid;
  grid-template-columns: fit-content(40%) 1fr 438px;
  padding: 85px 68px 54px 74px;
  margin-top: 23px;
}
.analytics__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5px;
}
.analytics__wrapper h2 {
  color: #000;
  text-align: right;
  font-family: "RG-Standard", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  margin-top: 14px;
}
.analytics__wrapper h2:nth-child(4) {
  margin-top: 0;
  margin-bottom: 9px;
}
.analytics__wrapper p {
  color: #2E9164;
  text-align: right;
  font-family: "hand3", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: -0.264px;
  margin: 8px 0 40px 0;
}
.analytics__wrapper-man {
  position: relative;
  left: 50px;
}
.analytics__img-wrapper {
  justify-self: center;
  position: relative;
}
.analytics__img-wrapper img:nth-child(1) {
  max-width: 349.432px;
  max-height: 699px;
}
.analytics__img-wrapper__notes {
  position: absolute;
  bottom: -24px;
  left: 310px;
}
.analytics__text {
  margin-top: 120px;
  color: rgba(51, 51, 51, 0.8);
  font-family: "hand4", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: -0.264px;
}
@media (max-width: 1439px) {
  .analytics {
    padding: 85px 20px 54px 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
  }
  .analytics__wrapper svg {
    width: 100%;
  }
}

.for-who {
  padding: 79px 80px;
}
.for-who__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 62px;
}
.for-who__wrapper-problem {
  display: grid;
  grid-template-areas: "man text1" "man text2" "man text3" "man text4";
  grid-column-gap: 22px;
  grid-template-rows: repeat(4, fit-content(40%));
}
.for-who__wrapper-problem svg {
  grid-area: man;
}
.for-who__wrapper-problem p {
  color: rgba(0, 0, 0, 0.8);
  font-family: "RG-Standard", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}
.for-who__wrapper-problem p:nth-child(2) {
  grid-area: text1;
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
.for-who__wrapper-problem p:nth-child(3) {
  grid-area: text2;
}
.for-who__wrapper-problem p:nth-child(4) {
  grid-area: text3;
  align-self: center;
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
.for-who__wrapper-problem p:nth-child(5) {
  grid-area: text4;
}
.for-who__wrapper-decision {
  display: grid;
  grid-row-gap: 28px;
  grid-template-rows: repeat(3, fit-content(40%));
  position: relative;
  padding: 40px 25px 60px 21px;
  background: url(../images/bg-green-ring.50cafb32cd2ce7b0df83.png) top left no-repeat;
  background-size: cover;
  width: fit-content;
  justify-self: center;
}
.for-who__wrapper-decision svg {
  position: absolute;
  right: -112px;
  top: 10px;
}
.for-who__wrapper-decision p {
  font-family: "RG-Standard", sans-serif;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.8);
  line-height: 120%; /* 28.8px */
  max-width: 513px;
}
.for-who__wrapper-decision p:nth-child(1) {
  color: #2E9164;
  font-size: 36px;
  font-weight: 700;
}
.for-who__wrapper-decision p:nth-child(2) {
  font-weight: 400;
}
.for-who__wrapper-decision p:nth-child(3) {
  font-weight: 700;
}
@media (max-width: 1439px) {
  .for-who__wrapper {
    grid-template-columns: 1fr;
  }
}

.more {
  padding: 0 263px;
}
.more__wrapper {
  position: relative;
  margin: 110px auto 0 auto;
  display: grid;
  grid-template-areas: "one two" "three four" "five five";
}
.more__wrapper-note__1 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: one;
}
.more__wrapper-note__1 svg {
  position: absolute;
}
.more__wrapper-note__1 p {
  transform: rotate(10.993deg);
  color: rgba(0, 0, 0, 0.8);
  font-family: "Just Breathe", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: -0.352px;
}
.more__wrapper-note__1 p span {
  font-weight: 400;
}
.more__wrapper-note__2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: two;
}
.more__wrapper-note__2 svg {
  position: absolute;
}
.more__wrapper-note__2 p {
  transform: rotate(-7.374deg);
  color: rgba(0, 0, 0, 0.8);
  font-family: "Just Breathe", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: -0.352px;
}
.more__wrapper-note__2 p span {
  font-weight: 400;
  display: block;
  margin-top: 60px;
}
.more__wrapper-note__3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  grid-area: three;
}
.more__wrapper-note__3 svg {
  position: absolute;
}
.more__wrapper-note__3 p {
  transform: rotate(-0.987deg);
  color: rgba(0, 0, 0, 0.8);
  font-family: "Just Breathe", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: -0.352px;
}
.more__wrapper-note__3 p span {
  display: block;
  margin-top: 60px;
}
.more__wrapper-note__4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  grid-area: four;
}
.more__wrapper-note__4 svg {
  position: absolute;
}
.more__wrapper-note__4 p {
  transform: rotate(7.706deg);
  color: rgba(0, 0, 0, 0.8);
  font-family: "Just Breathe", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: -0.352px;
}
.more__wrapper-note__4 p span {
  display: block;
  margin-top: 60px;
}
.more__wrapper-note__5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: five;
}
.more__wrapper-note__5 svg {
  position: absolute;
}
.more__wrapper-note__5 p {
  transform: rotate(4.657deg);
  color: rgba(0, 0, 0, 0.8);
  font-family: "Just Breathe", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: -0.352px;
  margin-top: 40px;
  margin-left: 15px;
}
@media (max-width: 1439px) {
  .more {
    padding: 0 100px;
  }
  .more__wrapper {
    grid-row-gap: 120px;
  }
}

.download {
  background: #E8E9EA;
  padding: 100px 0 80px 0;
  margin-top: 50px;
}
.download h2 {
  color: #333;
  text-align: center;
  font-family: "RG-Standard", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 43.2px */
  letter-spacing: 0.54px;
}
.download h2 span {
  font-weight: 700;
}
.download__wrapper {
  display: flex;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 30px 0 40px 0;
}
.download__wrapper p {
  color: #000;
  font-family: "RG-Standard", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 96px */
}
.download__icon {
  display: flex;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
}

footer {
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 75px 0 126px 0;
}
footer p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
footer a {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-decoration-line: underline;
}

/*# sourceMappingURL=style.7849b4195c11505fca90.css.map*/