.for-what {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media (max-width: 1023px) {
    &__wrapper svg {
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    &__wrapper svg {
      width: 100%;
      height: 100%;
    }
  }
}

.process {
  display: grid;
  grid-template-columns: fit-content(40%) 1fr fit-content(40%);
  justify-content: space-between;
  padding: 51px 130px 51px 66px;
  margin-top: 48px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    padding-left: 20px;

    svg:nth-child(1) {
      align-self: flex-end;
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    h2 {
      margin: 7px 0 9px 0;
      color: #000;
      font-family: 'RG-Standard', sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 48px */
    }

    p {
      margin-top: 7px;
      color: #2E9164;
      text-align: right;
      font-family: "Inter", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 36px */
      letter-spacing: -0.264px;
      max-width: 280px;
    }
  }

  &__img-wrapper {
    position: relative;
    justify-self: center;

    &__notes {
      position: absolute;
      max-width: 318px;
      max-height: 257px;
      bottom: 11px;
      left: -275px;
    }

    &__man {
      display: none;
    }
  }

  &__swrapper {
    p {
      margin: 180px 0 39px 0;
      color: rgba(51, 51, 51, 0.80);
      font-family: "Inter", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 36px */
      letter-spacing: -0.264px;
      max-width: 379px;

      span {
        letter-spacing: normal;
      }
    }
  }

  @media (max-width: 1439px) {
    padding: 51px 20px 51px 20px;

    &__swrapper {
      &-man {
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  @media (max-width: 1023px) {
    padding: 51px 0;
    grid-template-columns: 1fr;
    row-gap: 25px;

    &__wrapper {
      padding: 0 13px 0 26px;
      flex-direction: row-reverse;
      column-gap: 5px;

      svg:nth-child(1) {
        align-self: start;
      }

      &-text {
        width: 100%;

        svg {
          width: 100%;
          height: 5px;
        }

        p {
          text-align: left;
          max-width: unset;
        }
      }
    }

    &__img-wrapper {
      justify-self: start;

      &__notes {
        right: -275px;
        left: auto;
      }

      &__man {
        display: block;
        position: absolute;
        right: -275px;
        top: 0;
      }
    }

    &__swrapper {
      justify-self: center;

      p {
        margin: 0;
        max-width: 516px;
      }

      &-man {
        display: none;
      }
    }
  }
  
  @media (max-width: 767px) {
    overflow: hidden;

    &__wrapper {
      &-text {
        align-items: flex-start;
      }

      h2 {
        font-size: 26px;
        margin: 0;
      }

      p {
        font-size: 16px;
        letter-spacing: -0.176px;
        margin: 0;
      }
    }

    &__img-wrapper {
      &__deals {
        svg {
          width: 267px;
          height: 600px;
        }
      }

      &__notes {
        right: -150px;

        svg {
          width: 205px;
          height: 204px;
        }
      }

      &__man {
        left: 0;
        top: 100px;
        width: 100vw;
        display: flex;
        justify-content: flex-end;
      }
    }

    &__swrapper {
      p {
        max-width: 336px;
        font-size: 14px;
        letter-spacing: -0.154px;
      }
    }
  }
}

.client {
  display: flex;
  justify-content: space-between;
  padding: 60px 45px 66px 104px;
  margin-top: 183px;
  position: relative;
  align-items: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    svg:nth-child(1) {
      align-self: flex-end;
    }

    h2 {
      margin: 16px 0 14px 0;
      color: #000;
      font-family: "RG-Standard", sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 48px */
    }

    p {
      margin: 7px 0 25px 0;
      color: #2E9164;
      text-align: right;
      font-family: "Inter", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 36px */
      letter-spacing: -0.264px;
    }

    &-woman {
      align-self: flex-start;
    }
  }

  img {
    max-width: 798.196px;
    position: absolute;
    left: 48%;
    transform: translate(-50%, 0);
  }

  &__text {
    color: rgba(51, 51, 51, 0.80);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    letter-spacing: -0.264px;
    max-width: 463px;

    span:nth-child(2) {
      white-space: pre;

      &:before {
        content: "\A";
      }
    }

    span:nth-child(3) {
      letter-spacing: normal;
    }
  }

  @media (max-width: 1439px) {
    padding: 60px 20px 66px 20px;

    &__text {
      max-width: 250px;
    }
  }

  @media (max-width: 1023px) {
    padding: 60px 0 66px 0;
    flex-direction: column;
    position: relative;

    &__wrapper {
      flex-direction: row-reverse;
      width: 100%;
      column-gap: 5px;
      padding: 0 13px 0 26px;

      svg:nth-child(1) {
        align-self: start;
      }

      &-text {
        width: 100%;

        svg {
          width: 100%;
        }

        p {
          text-align: start;
        }
      }

      &-woman {
        position: absolute;
        left: 0;
        top: 255px;
      }
    }

    img {
      position: static;
      transform: none;
      width: 100%;
    }

    &__text {
      max-width: 492px;
      margin-top: 20px;

      span:nth-child(1) {
        font-weight: 700;
      }
    }
  }

  @media (max-width: 767px) {
    margin-top: 0;
    overflow: hidden;

    &__wrapper {
      h2 {
        font-size: 26px;
        margin: 0;
      }

      p {
        font-size: 16px;
        letter-spacing: -0.176px;
        margin-top: 0;
      }

      &-woman {
        top: 150px;

        svg {
          width: 155px;
          height: 282px;
        }
      }
    }

    &__text {
      max-width: 336px;
      font-size: 14px;
      letter-spacing: -0.154px;
    }
  }
}

.payments {
  display: flex;
  justify-content: space-between;
  padding: 101px 47px 94px 56px;
  margin-top: 23px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 60px;

    svg:nth-child(1),
    svg:nth-child(6) {
      position: relative;
      left: 30px;
      margin-bottom: 29px;
    }

    &-text {
      display: flex;
      flex-direction: column;
    }

    h2 {
      margin: 6px 0 8px 0;
      color: #000;
      font-family: "RG-Standard", sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 48px */
    }

    p {
      margin: 11px 0 92px 0;
      color: #2E9164;
      text-align: right;
      font-family: "Inter", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 36px */
      letter-spacing: -0.264px;
      max-width: 297px;
      align-self: flex-end;
    }
  }

  &__img {
    max-width: 388.103px;
    max-height: 675px;

    &-wrapper__man {
      display: none;
    }
  }

  &__swrapper {
    p {
      color: rgba(51, 51, 51, 0.80);
      font-family: "Inter", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 36px */
      letter-spacing: -0.264px;
      margin: 60px 0 76px 0;
      max-width: 459px;

      span:nth-child(1) {
        white-space: pre;
        
        &:before {
          content: '\A';
        }
      }

      span:nth-child(2) {
        letter-spacing: normal;
      }
    }
  }

  @media (max-width: 1439px) {
    padding: 101px 20px 94px 20px;
    column-gap: 40px;

    &__wrapper {
      &-text svg {
        width: 100%;
      }
    }

    &__swrapper {
      p {
        margin: 60px 0 10px 0;
      }

      svg {
        width: 100%;
      }
    }
  }

  @media (max-width: 1023px) {
    flex-direction: column;
    position: relative;
    padding: 101px 0 94px 0;

    &__wrapper {
      flex-direction: row-reverse;
      column-gap: 10px;
      padding: 0 13px 0 26px;

      svg:nth-child(1),
      svg:nth-child(4) {
        position: absolute;
      }

      svg:nth-child(1) {
        margin: 0;
        right: 22%;
        left: unset;
        top: 380px;
      }

      svg:nth-child(4) {
        right: 0;
        left: unset;
        top: 420px;
        width: fit-content;
      }

      svg:nth-child(2) {
        align-self: start;
      }

      &-text {
        width: 100%;

        svg {
          width: 100%;
        }

        p {
          text-align: start;
          margin-bottom: 29px;
          max-width: none;
          align-self: auto;

          span {
            font-weight: 700;
          }
        }
      }
    }

    &__img {
      &-wrapper{
        position: relative;
        width: fit-content;

        &__man {
          display: block;
          position: absolute;
          z-index: -1;
          bottom: 0;
          right: -40%;
        }
      }
    }

    &__swrapper {
      p {
        margin: 60px auto 10px auto;
      }

      &-img {
        display: none;
      }
    }
  }

  @media (max-width: 767px) {
    margin-top: 0;
    padding-top: 0;
    overflow: hidden;

    &__wrapper {
      h2 {
        font-size: 26px;
        margin: 0;
      }

      p {
        font-size: 16px;
        letter-spacing: -0.176px;
        margin-top: 0;
      }

      svg:nth-child(4) {
        top: 284px;
        width: 59.158px;
        height: 51.106px;
      }

      svg:nth-child(1) {
        right: 14%;
        top: 245px;
        width: 53.602px;
        height: 31.118px;
      }
    }

    &__img {
      max-width: 254.731px;
      max-height: 450.462px;

      &-wrapper__man {
        right: -60%;
      }
    }

    &__swrapper {
      p {
        max-width: 336px;
        font-size: 14px;
        letter-spacing: -0.154px;
        margin-top: 20px;
      }
    }
  }
}

.team {
  display: grid;
  grid-template-columns: fit-content(40%) 1fr 429px;
  justify-content: space-between;
  padding: 94px 78px 17px 103px;
  margin-top: 23px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h2 {
      margin: 12px 0;
      color: #000;
      text-align: right;
      font-family: "RG-Standard", sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 48px */
    }

    p {
      margin: 7px 0 122px 0;
      color: #2E9164;
      text-align: right;
      font-family: "Inter", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 36px */
      letter-spacing: -0.264px;
    }

    &-man {
      align-self: flex-start;
    }
  }

  &__img-wrapper {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
    margin-right: 60px;
    position: relative;

    .arr-left {
      position: absolute;
      left: -62px;
      top: 50%;
      transform: translate(0, -50px);
    }

    .arr-right {
      position: absolute;
      right: -62px;
      top: 50%;
      transform: translate(0, -50px);
    }

    img {
      max-width: 368.108px;
      max-height: 677px
    }

    &__woman,
    &__man {
      display: none;
    }
  }

  &__swrapper {
    display: grid;
    grid-template-areas:
        "text"
        "img";
    margin-top: 100px;
    position: relative;
    right: 50px;

    p {
      grid-area: text;
      color: rgba(51, 51, 51, 0.80);
      font-family: "Inter", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 36px */
      letter-spacing: -0.264px;

      span {
        letter-spacing: normal;
      }
    }

    &-img {
      grid-area: img;
      justify-self: center;
    }
  }

  @media (max-width: 1439px) {
    padding: 94px 20px 17px 20px;
    grid-template-columns: fit-content(40%) 1fr 250px;

    &__wrapper {
      &-man svg {
        width: 100%;
      }
    }

    &__img-wrapper {
      margin-right: 36px;

      .arr-down {
        width: 100%;
      }
    }

    &__swrapper {
      right: auto;
      margin-top: 70px;

      &-img svg {
        width: 100%;
      }
    }
  }

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
    padding: 94px 0 17px 0;

    &__wrapper {
      flex-direction: row-reverse;
      padding: 0 13px 0 26px;

      svg:first-child {
        align-self: start;
      }

      &-text {
        width: 100%;

        h2,p {
          text-align: start;
        }

        svg {
          width: 100%;
        }

        p {
          margin: 7px 0 36px 0;
        }
      }

      svg:last-child {
        display: none;
      }
    }

    &__img-wrapper {
      margin-right: 0;

      .arr-left,
      .arr-right{
        top: 30%;
      }

      .arr-down {
        width: 50%;
      }

      &__woman,
      &__man {
        display: block;
        width: 100vw;

        svg {
          position: absolute;
          bottom: 0;
        }
      }

      &__woman svg {
        left: 0;
      }

      &__man svg {
        right: 0;
      }
    }

    &__swrapper {
      margin-top: 35px;

      p {
        margin: 0 auto;
        max-width: 560px;
      }

      svg {
        display: none;
      }
    }
  }

  @media (max-width: 767px) {
    margin-top: 0;
    padding-top: 0;
    overflow: hidden;

    &__wrapper {
      column-gap: 11px;

      h2 {
        font-size: 26px;
        margin: 0;
      }

      p {
        font-size: 16px;
        letter-spacing: -0.176px;
        margin-top: 0;
      }

    }

    &__img-wrapper {
      img {
        max-width: 222px;
        max-height: 423px;
      }

      .arr-right {
        right: 20px;
      }

      .arr-left {
        left: 20px;
        width: 29px;
        height: 175px;
      }
    }

    &__swrapper {
      p {
        max-width: 336px;
        font-size: 14px;
        letter-spacing: -0.154px;
        margin-top: 20px;
      }
    }
  }
}

.analytics {
  display: grid;
  grid-template-columns: fit-content(40%) 1fr 438px;
  padding: 85px 68px 54px 74px;
  margin-top: 23px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5px;

    &-text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    h2 {
      color: #000;
      text-align: right;
      font-family: "RG-Standard", sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 48px */
      margin-top: 14px;

      &:nth-child(3) {
        margin-top: 0;
      }
    }

    p {
      color: #2E9164;
      text-align: right;
      font-family: "Inter", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 36px */
      letter-spacing: -0.264px;
      margin: 8px 0 40px 0;
    }

    &-man {
      position: relative;
      left: 50px;
    }
  }

  &__img-wrapper {
    justify-self: center;
    position: relative;

    img:nth-child(1) {
      max-width: 349.432px;
      max-height: 699px;
    }

    &__notes {
      position: absolute;
      bottom: -24px;
      left: 310px;
    }

    &__man {
      display: none;
    }
  }

  &__text {
    margin-top: 120px;
    color: rgba(51, 51, 51, 0.80);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    letter-spacing: -0.264px;

    span {
      white-space: nowrap;
      letter-spacing: normal;
    }
  }

  @media (max-width: 1439px) {
    padding: 85px 20px 54px 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;

    &__wrapper {
      svg {
        width: 100%;
      }
    }
  }

  @media (max-width: 1023px) {
    padding: 85px 0 54px 0;
    grid-template-columns: 1fr;

    &__wrapper {
      flex-direction: row-reverse;
      column-gap: 55px;
      padding: 0 13px 0 26px;
      position: relative;

      svg:first-child {
        width: fit-content;
        align-self: start;
      }

      &-text {
        width: 100%;
        align-items: flex-start;

        h2,p {
          text-align: start;
        }

        h2 {
          margin-top: 5px;
        }

        svg:nth-child(4) {
          width: fit-content;
        }
      }

      &-man {
        display: none;
      }
    }

    &__img-wrapper {
      justify-self: right;

      &__notes {
        left: -75%;
      }

      &__man {
        display: block;
        position: absolute;
        top: 220px;
        left: -140px;
      }
    }

    &__text {
      margin: 31px auto 0 auto;
      width: 540px;
    }
  }

  @media (max-width: 767px) {
    margin-top: 0;
    overflow: hidden;

    &__wrapper {
      column-gap: 0;

      svg:first-child {
        width: 50px;
        height: 50px;
      }

      h2 {
        font-size: 26px;
        margin: 0;
      }

      p {
        font-size: 16px;
        letter-spacing: -0.176px;
        margin-top: 0;
      }

      &-text {
        svg:nth-child(2) {
          width: 264px;
        }

        svg:nth-child(4) {
          width: 177px;
          height: 5px;
        }
      }
    }

    &__img-wrapper {
      img:nth-child(1) {
        max-width: 231.078px;
        max-height: 462.245px;
      }

      &__notes {
        svg {
          width: 232.473px;
          height: 221.615px;
        }
      }

      &__man {
        top: 87px;
      }
    }

    &__text {
      max-width: 336px;
      font-size: 14px;
      letter-spacing: -0.154px;
      margin-top: 20px;
    }
  }
}

.for-who {
  padding: 79px 80px;
  overflow: hidden;

  &__wrapper {
    display: grid;
    grid-template-columns: 47% 53%;
    margin-top: 62px;

    &-problem {
      display: grid;
      grid-template-areas:
        "man text1"
        "man text2"
        "man text3"
        "man text4";
      grid-column-gap: 22px;
      grid-template-columns: fit-content(40%) 1fr;
      grid-template-rows: repeat(4, fit-content(40%));

      svg {
        grid-area: man;
      }

      p {
        color: rgba(0, 0, 0, 0.80);
        font-family: "RG-Standard", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 28.8px */

        &:nth-child(2) {
          grid-area: text1;
          color: #000;
          font-size: 36px;
          font-weight: 700;
          line-height: 150%; /* 54px */
        }

        &:nth-child(3) {
          grid-area: text2;
        }

        &:nth-child(4) {
          grid-area: text3;
          align-self: center;
          color: #EB3737;
          font-size: 36px;
          font-weight: 700;
          line-height: 150%; /* 54px */
        }

        &:nth-child(5) {
          grid-area: text4;
        }
      }
    }

    &-decision {
      display: grid;
      grid-row-gap: 28px;
      grid-template-rows: repeat(3, fit-content(40%));
      position: relative;
      padding: 40px 25px 60px 21px;
      background: url("../img/bg-green-ring.png") top center no-repeat;
      background-size: contain;
      width: fit-content;
      justify-self: flex-start;
      justify-items: center;

      svg {
        position: absolute;
        right: -112px;
        top: 10px;
      }

      p {
        font-family: "RG-Standard", sans-serif;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        color: rgba(0, 0, 0, 0.80);
        line-height: 120%; /* 28.8px */
        max-width: 513px;

        &:nth-child(1) {
          color: #2E9164;
          font-size: 36px;
          font-weight: 700;
        }

        &:nth-child(2) {
          font-weight: 400;
        }

        &:nth-child(3) {
          font-weight: 700;
        }
      }
    }
  }

  @media (max-width: 1439px) {
    &__wrapper {
      grid-template-columns: 1fr;

      &-decision {
        justify-self: center;
      }
    }
  }

  @media (max-width: 1023px) {
    padding: 79px 0;

    &__wrapper {
      &-problem {
        grid-template-columns: 1fr;
        grid-template-areas:
        "text1"
        "text2"
        "text3"
        "text4";
        justify-items: center;
        grid-column-gap: unset;
        margin-bottom: 24px;
        position: relative;

        svg {
          position: absolute;
          left: -10px;
          transform: rotate(23.827deg);
          width: 76.992px;
          height: 130.512px;
          top: 110px;
        }

        p:nth-child(3) {
          max-width: 470px;
          text-align: center;
        }

        p:nth-child(4) {
          margin-top: 15px;
        }

        p:nth-child(5) {
          max-width: 430px;
          text-align: center;
        }
      }

      &-decision {
        svg {
          position: absolute;
          right: -20px;
          top: 221px;
          width: 86px;
          height: 172px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    &__wrapper {
      &-problem {
        svg {
          top: 55px;
        }

        p {
          font-size: 14px;

          &:nth-child(2),
          &:nth-child(4) {
            font-size: 24px;
          }

          &:nth-child(3) {
            max-width: 274px;
          }

          &:nth-child(5) {
            max-width: 250px;
          }
        }
      }

      &-decision {
        grid-row-gap: 12px;

        p {
          font-size: 14px;
          max-width: 335px;

          &:nth-child(1) {
            font-size: 24px;
          }

          &:nth-child(3) {
            max-width: 310px;
          }
        }

        svg {
          top: 135px;
        }
      }
    }
  }
}

.more {
  padding: 0 263px;
  overflow-x: clip;

  &__wrapper {
    position: relative;
    margin: 110px auto 0 auto;
    display: grid;
    grid-row-gap: 100px;
    grid-template-areas:
        "one two"
        "three four"
        "five five";
    max-width: 88%;

    div {
      position: relative;
    }

    &-note__1 {
      z-index: 8;
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: one;

      svg {
        position: absolute;
      }

      p {
        transform: rotate(10.993deg);
        color: rgba(0, 0, 0, 0.80);
        font-family: "JustBreathe", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 48px */
        letter-spacing: -0.352px;

        span {
          font-weight: 400;
        }
      }
    }

    &-note__2 {
      z-index: 9;
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: two;

      svg {
        position: absolute;
      }

      p {
        transform: rotate(-7.374deg);
        color: rgba(0, 0, 0, 0.80);
        font-family: "JustBreathe", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 48px */
        letter-spacing: -0.352px;

        span {
          font-weight: 400;
          display: block;
          margin-top: 60px;
        }
      }
    }

    &-note__3 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 30px;
      grid-area: three;

      svg {
        position: absolute;
      }

      p {
        transform: rotate(-0.987deg);
        color: rgba(0, 0, 0, 0.80);
        font-family: "JustBreathe", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 48px */
        letter-spacing: -0.352px;

        span {
          display: block;
          margin-top: 60px;
        }
      }
    }

    &-note__4 {
      z-index: 8;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 30px;
      grid-area: four;

      svg {
        position: absolute;
      }

      p {
        transform: rotate(7.706deg);
        color: rgba(0, 0, 0, 0.80);
        font-family: "JustBreathe", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 48px */
        letter-spacing: -0.352px;

        span {
          font-family: "JustBreathe-7", sans-serif;
          font-weight: 400;
          display: block;
          margin-top: 60px;
        }
      }
    }

    &-note__5 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      grid-area: five;

      svg {
        position: absolute;
      }

      p {
        transform: rotate(4.657deg);
        color: rgba(0, 0, 0, 0.80);
        font-family: "JustBreathe-3", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 48px */
        letter-spacing: -0.352px;
        margin-top: 40px;
        margin-left: 15px;
      }
    }
  }

  @media (max-width: 1439px) {
    padding: 0 100px;

    &__wrapper {
      grid-row-gap: 120px;
    }
  }

  @media (max-width: 1023px) {
    padding: 0;
  }
  
  @media (max-width: 767px) {
    margin-top: 79px;

    &__wrapper {
      grid-row-gap: 60px;
      &-note__1 {
        svg {
          width: 239px;
          height: 246px;
        }

        p {
          font-size: 16px;
          letter-spacing: -0.176px;
        }
      }

      &-note__2 {
        svg {
          width: 239px;
          height: 246px;
        }

        p {
          font-size: 16px;
          letter-spacing: -0.176px;

          span {
            margin-top: 20px;
          }
        }
      }

      &-note__3 {
        svg {
          width: 239px;
          height: 246px;
        }

        p {
          font-size: 16px;
          letter-spacing: -0.176px;

          span {
            margin-top: 20px;
          }
        }
      }

      &-note__4 {
        svg {
          width: 239px;
          height: 246px;
        }

        p {
          font-size: 16px;
          letter-spacing: -0.176px;

          span {
            margin-top: 20px;
          }
        }
      }

      &-note__5 {
        svg {
          width: 239px;
          height: 246px;
        }

        p {
          font-size: 16px;
          letter-spacing: -0.176px;
        }
      }
    }
  }
}

.download {
  background: #E8E9EA;
  padding: 100px 0 80px 0;
  margin-top: 50px;
  max-width: none;

  &__wrapper {
    display: grid;
    grid-template-areas: "title title title title title title"
                         "logo text text text text text"
                         "apple apple apple google google google";
    width: fit-content;
    grid-row-gap: 40px;
    margin: 0 auto;

    h2 {
      grid-area: title;
      color: #333;
      text-align: center;
      font-family: "RG-Standard", sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 43.2px */
      letter-spacing: 0.54px;

      span {
        font-weight: 700;
      }
    }

    svg {
      grid-area: logo;
    }

    p {
      text-align: right;
      grid-area: text;
      color: #000;
      font-family: "RG-Standard", sans-serif;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 96px */
    }

    a {
      &:nth-child(4) {
        grid-area: apple;
        justify-self: flex-end;
        margin-left: 123px;
      }

      &:nth-child(5) {
        grid-area: google;
        justify-self: flex-start;
        margin-left: 50px;
      }
    }
  }
  
  @media (max-width: 1023px) {
    &__wrapper {
      display: grid;
      grid-template-areas: "logo logo logo"
                         "title title title"
                         "apple text google";
      max-width: 933px;
      grid-row-gap: 40px;
      margin: 0 auto;
      justify-items: center;
      align-items: center;
      grid-template-columns: repeat(3, fit-content(40%));
      grid-column-gap: 40px;

      h2 {
        max-width: 65%;
        font-weight: 400;

        span {
          font-weight: 400;
        }
      }

      p {
        text-align: center;
      }

      a {
        margin: 0 !important;
      }
    }
  }

  @media (max-width: 767px) {
    &__wrapper {
      grid-column-gap: 20px;

      h2 {
        font-size: 16px;
      }

      svg {
        width: 41px;
        height: 37px;
      }

      p {
        font-size: 20px;
      }

      a {
        svg {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}